@import url(http://fonts.googleapis.com/css?family=Unica+One);

html{width: 100%;}

body{background: #F5F5F5;
     height: 100%;
     width: 100%;
     background: url("../login-form/images/bg.png");
     font-family:Arial, Helvetica, sans-serif;
     color:  #676767;
     z-index: 0;
}

/*--------------------------Geral------------------------*/
.holder{
    width: 100%;
    padding-top: 23px;
    /*    border-top: 1px solid #FFFFFF;*/
}

.box{
    border: 1px solid #E9E9E9;
    background: #FFFFFF;
}

div {
    display: block;
}

#ui-datepicker-div{
    z-index: 100000 !important;   
}

a {
    text-decoration: none !important;
    outline: none !important;
}

a:hover{
    text-decoration: none;
    outline: none;
}

.separator{
    width: 100%;
    background-clip: content-box;
    background: url("../imgs/separator_line.png") repeat-x scroll 0 14px transparent;
    float: left;
    /*border: 10px solid transparent;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.separator > span {
    display: block;
    width: 60px;
    height: 20px;
    margin: 0 auto;
    padding: 5px 10px;
    background: url("../imgs/separator_circle.png") no-repeat scroll center center #F9F9F9;
}

.roundBordersP{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.dir{
    float: right !important;
}

.esq{
    float: left !important;
}

#mensagem_sucesso{
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: #00c201;
    z-index: 1000000000;
    text-align: center;
    line-height: 50px;
    /*margin-top: -30px !important;*/
}

#mensagem_sucesso span{
    color: #005000;
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
}

#mensagem_erro{
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: #ff8686;
    z-index: 100000000;
    text-align: center;
    line-height: 50px;
    /*margin-top: -30px !important;*/
}

#mensagem_erro span{
    color: #904141;
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
}

.top_bar{
    /*    position: absolute;*/
    margin: 0px;
    padding: 0px;
    height: 30px;
    width: 100%;
    /*background-color: #eeeded;*/
    background-color: #f8f8f8;
    /*text-align: center;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.size960{
    width: 960px;
    /*border: 1px solid gray;*/
    margin: auto;
}

.top_bar span{
    font-size: 12px;
    line-height: 30px;
    font-weight: bold;
    /*cursor: pointer;*/
    color: #7c7c7b;
}

.top_bar span:hover{
    color: #e78300;
}

.top_bar_separator{
    height: 30px;
    border-right: 1px solid #fffefe;
    border-left: 1px solid #cccbcb;
    width: 0px;
    /*margin: 0px;*/
    margin-left: 10px;
    margin-right: 10px;
}

.menu_grid{
    margin-top: 150px;
    position: absolute;
    left: 50%;
    margin-left: -85px;
}

.grid_element{
    margin: 35px;
    text-align: center;
    float: left;
}

.grid_element img{
    width: 100px;
    height: 100px;
}

.grid_element p{
    font-family: 'Unica One', cursive;
    color: white;
    font-size: 22px;
}