html{width: 100%;}

body{background: #F5F5F5;
     height: 100%;
     width: 100%;
     font-family: Helvetica;
     z-index: 0;
}


/*--------------------------Header------------------------*/

.topo{
    height: 79px;
    background-color: #162433;
    width: 100%;
}

div{
    display: block;
}

.topo_login{
    height: 114px;
    background-color: #162433;
    width: 100%;
}

.logo{
    background: url("../images/logojustdoctor.jpg") no-repeat scroll transparent;
    width: 163px;
    height: 31px;
    /*margin: auto;*/
    margin-top: 22px;
}

.logo_login{
    background: url("../images/logo.jpg") no-repeat scroll transparent;
    width: 218px;
    height: 42px;
    margin: auto;
    margin-top: 32px;
}
.dir{
    float: right !important;
}

.esq{
    float: left !important;
}

a:link, a:visited{
    text-decoration: none !important;
}

.login{
    width: 422px;
    margin: auto;
    margin-top: 159px;
}

.login_input{
    height: 64px;
    width: 422px;
    background: #ffffff;
    border: 1px solid #bebebe;
    margin-bottom: 20px;
}

.user_logo{
    border-right: 1px solid #bebebe;
    padding: 15px;
    margin: 5px;
}

.pass_logo{
    border-right: 1px solid #bebebe;
    padding: 14px;
    margin: 5px;
    margin-left: 8px;
    padding-right: 17px;
}

.login_input input {
    margin-top: 13px;
    width: 312px;
    margin-left: 15px;
    height: 36px;
    font-size: 17px;
    color: #bebebe;
    border: none;
}

.login_input input:focus{
    border: none;
    outline: none;
}

.roundBordersP_2px{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.roundBordersP_3px{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.roundBordersP_4px{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.roundBordersP_5px{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.roundBordersP_6px{
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.roundBordersP_8px{
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.login_bt{
    background: #faa033;
    color: #ffffff;
    font-size: 16px;
    border: 1px solid #de8f2f;
    width: 132px;
    height: 38px;
    line-height: 38px;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: 98px;
    text-indent: 30px;
    cursor: pointer;
}

.left_options_holder{
    font-size: 14px;
    color: #bebebe;
    font-weight: 300;
}

.left_options_holder:focus{
    border: none;
    outline: none;
}

.left_options_holder p{
    padding-bottom: 10px;
    color: #bebebe;
}

.left_options_holder p:hover{
    text-decoration: underline;
}

#login_erro{
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: #ff8686;
    z-index: 100000000;
    text-align: center;
    line-height: 50px;
    /*margin-top: -30px !important;*/
}

#login_erro span{
    color: #904141;
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
}

#erro_operacao{
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: #ff8686;
    z-index: 100000000;
    text-align: center;
    line-height: 50px;
    top: 0px;
    /*margin-top: -30px !important;*/
}

#erro_operacao span{
    color: #904141;
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
}

#sucesso_operacao{
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: #00c201;
    z-index: 10000000;
    text-align: center;
    line-height: 50px;
    top: 0px;
    /*margin-top: -30px !important;*/
}

#sucesso_operacao span{
    color: #005000;
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
}

#navegador_erro{
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: #ff8686;
    z-index: 100000000;
    text-align: center;
    line-height: 50px;
    /*margin-top: -30px !important;*/
    left: 0px;
}

#navegador_erro span{
    color: #904141;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
}

.user_image{
    width: 55px;
    height: 55px;
}

.user_information_holder{
    margin-top: 12px;
}

.user_information_holder span{
    color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
}

.user_text_holder{
    margin-right: 14px;
    margin-top: 8px;
}

.user_name{
    font-size: 20px;
}

.logout{
    font-size: 14px;
    margin-top: 5px;
}

.logout:hover{
    text-decoration: underline;
    cursor: pointer;
}

.breadcumb{
    width: 100%;
    height: 31px;
    position: absolute;
    background-color: #dddfe0;
    z-index: 1000;
    text-align: left;
    line-height: 31px;
    /*margin-top: -30px !important;*/
}

.breadcumb span{
    font-size: 13px;
    font-weight: 300;
    color: #aaaaaa !important;
}

.breadcumb span a{
    color: #aaaaaa !important;
}

.bd_active{
    font-weight: bold !important;
}

label.error{
    color: red;
    position: absolute;
    width: auto !important;
    margin-left: 30px;
}

/*--------------------------Menu------------------------*/

.menu_holder{
    margin-top: 243px;
    width: 863px;
    margin-left: auto;
    margin-right: auto;
}

.menu_holder ul {
    list-style: none;
    text-align: center;
}

.menu_holder ul li{
    float: left;
    text-align: center;
    padding: 1.7em;
}

.menu_holder ul li a{
    display: block;
    width: 116px; 
    height: 119px
}

.menu_holder p{
    margin-top: 15px;
    font-size: 18px;
    color: #8e8e8e;
    font-weight: 500;
}

/*--------------------------Pacientes------------------------*/

.search_holder{
    margin-top: 47px;
    width: 240px;
    height: 125px;
}

.patient_holder{
    margin-top: 47px;
    width: 662px;
    height: 400px;
}

.blue_bar{
    width: 100%;
    height: 1px;
    border-top: 1px solid #08a8f0;
}

.patient_list{

}

.patient_list .plus_bt {
    margin-top: 25px;
    margin-right: 16px;
    cursor: pointer;
}

.patient_list .patient_picture{
    width: 88px;
    height: 88px;
    margin-left: 19px;
    margin-top: 41px;
    background-color: white;
    border: 2px solid #7e7e7e;
}

.patient_list .patient_birthday{
    margin-top: 25px;
    margin-right: 25px;
    color: #162433;
    font-size: 16px;
}

.blue_border{
    width: 11px;
    height: 65px;
    background-color: #08a8f0;
    margin-top: 8px;
}

.patient_list .patient_list_item {
    width: 651px;
    height: 65px;
    background-color: #dddfe0;
    margin-top: 8px;
    margin-bottom: 8px;
    float: left;
}

.patient_name{
    margin-left: 19px;
    margin-top: 28px;
    color: #162433;
    font-size: 16px;
    cursor: pointer;
}

.patient_info_holder{
    display: none;
    width: 100%;
}

.patient_info_list{
    margin-top: 40px;
    margin-left: 16px;
    font-weight: 300;
}

.patient_info_list ul li{
    padding: 4px;
}

.patient_info_list ul li span{
    font-size: 12px;
    margin-left: 10px;
    font-size: 16px;
    color: #868686;
}

.search_div{
    width: 215px;
    height: 28px;
    background-color: #f8f8f8;
    border: 1px solid #aaaaaa;
    margin-top: 12px;
    position: absolute;
}

#search{
    border: none;
    outline: none;
    width: 185px;
    background: none;
    font-size: 12px;
    color: #b0afaf;
    font-style: italic;
    margin-top: 5px;
    margin-left: 10px;
}

#search:focus {
    border: none;
    outline: none;
    color: #595959;
}

.search_holder img{
    margin-top: 12px;
    position: relative;
    cursor: pointer;
}

.search_options_list{
    margin-top: 10px;
}

.search_options_list ul li{
    width: 14px;
    height: 14px;
    background: url(../images/radio.png) no-repeat;
    background-position: bottom;
    margin-bottom: 12px;
    margin-top: 12px;
}

.search_options_list ul li span{
    margin-left: 21px;
    font-size: 14px;
    color: #9d9d9d;
}

.functions_holder{
    height: 30px;
    margin-top: 41px;
    margin-right: 16px;
}

.functions_holder ul li {
    width: 30px;
    height: 30px;
    background: url(../images/gradient.png);
    border-top: 1px solid #b7b8b8;
    border-bottom: 1px solid #b7b8b8;
    cursor: pointer;
    text-align: center;
}

.functions_holder ul li:active{
    background: url(../images/gradientHover.png);
}

.functions_holder ul li img {
    margin-top: 7px;
    /*margin-left: 7px;*/
}

.shadow_light {
    -moz-box-shadow: 0px 2px 3px -1px #b7b8b8;
    -webkit-box-shadow: 0px 2px 3px -1px #b7b8b8;
    box-shadow: 0px 2px 3px -1px #b7b8b8;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=115, Color='#b7b8b8')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=115, Color='#b7b8b8');
}

.shadow {
    -moz-box-shadow: 0px 2px 5px 0px #b7b8b8;
    -webkit-box-shadow: 0px 2px 5px 0px #b7b8b8;
    box-shadow: 0px 2px 5px 0px #b7b8b8;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=115, Color='#b7b8b8')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=115, Color='#b7b8b8');
}

.shadow2 {
    -moz-box-shadow: 1px 2px 2px 1px #b7b8b8;
    -webkit-box-shadow: 1px 2px 2px 1px #b7b8b8;
    box-shadow: 1px 2px 2px 1px #b7b8b8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=115, Color='#b7b8b8')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=115, Color='#b7b8b8');
}

.shadow3 {
    -moz-box-shadow: 1px 2px 3px 0px #b7b8b8;
    -webkit-box-shadow: 1px 2px 3px 0px #b7b8b8;
    box-shadow: 1px 2px 3px 0px #b7b8b8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=115, Color='#b7b8b8')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=115, Color='#b7b8b8');
}

.functions_holder .active{
    background: url(../images/gradientHover.png);
}

.functions_holder .agendar a{
    background: url("../images/agendar.png") no-repeat top;
    display: block;
    width: 100%;
    height: 100%;
}

.functions_holder .prontuario a{
    background: url("../images/prontuario.png") no-repeat top;
    display: block;
    width: 100%;
    height: 100%;
}

.functions_holder .excluir a{
    background: url("../images/excluir.png") no-repeat top;
    display: block;
    width: 100%;
    height: 100%;
}

.functions_holder .editar a{
    background: url("../images/editar.png") no-repeat top;
    display: block;
    width: 100%;
    height: 100%;
}

.functions_holder ul li a:hover{
    background-position: bottom;
}

.functions_holder ul li a:focus{
    background-position: bottom;
}

.add_bt_holder{
    height: 30px;
    width: 100%;
    background: url(../images/gradient.png);
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #d2d2d2;
    cursor: pointer;
}

.adicionar_bt{
    width: 35px;
    height: 17px;
    background: url("../images/adicionar.png") no-repeat;
    background-position: top;
    margin-top: 7px;
}

.add_bt_holder:hover .adicionar_bt{
    background-position: bottom;

}

.add_bt_holder:hover span{
    color: #d18c32;
}

.adicionar_txt {
    height: 30px;
    border-left: 1px solid #b7b8b8;
}

.adicionar_txt span{
    line-height: 30px;
    margin-left: 15px;
    font-size: 14px;
    color: #9D9D9D;
    font-weight: 400;
}


/*--------------------------Pacientes Adicionar------------------------*/

.form_holder{
    margin-top: 40px;
}

.input_holder{
    height: 40px;
    width: 422px;
    background: #ffffff;
    border: 1px solid #e7e6e6;
    margin-bottom: 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    float: left;
}

.textarea_holder{
    height: 88px;
    /*width: 422px;*/
    background: #ffffff;
    border: 1px solid #e7e6e6;
    margin-bottom: 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    float: left;
/*    margin-left: 20px;*/
    margin-top: 4px;
    padding: 10px;
}

.select_holder{
    /*    height: 40px;*/
    width: 422px;
    /*    background: #ffffff;*/
    /*    border: 1px solid #e7e6e6;*/
    margin-bottom: 20px;
    /*    border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;*/
    float: left;
    margin-top: 8px;
}

.select_holder select{
    width: 422px;
}

.input_holder input {
    margin-top: 8px;
    width: 385px;
    margin-left: 15px;
    height: 20px;
    font-size: 15px;
    color: #9d9c9c;
    border: none;
/*    text-transform: uppercase;*/
}

.input_holder input:focus{
    border: none;
    outline: none;
}

.form_holder label {
    float: left;
    margin-top: 14px;
    width: 10.1em;
    font-size: 14px;
    text-align: right;
    padding-right: 5px;
}

.controls{
    float:right;
    position:relative;
    width:200px;
    /*margin-top:20px;*/
}

.controls_holder{
    position:absolute;
    background-color: white;
    top:0;
    width: 121px;
    height: 50px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.submit_bt{
    background: url("../images/save.png") no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    margin-top: 9px;
    margin-left: 12px;
}

.cancel_bt {
    background: url("../images/cancel.png") no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    margin-top: 9px;
    margin-left: 30px;
}

.picture_holder {
    /*    width: 200px;*/
    /*    height: 100px;*/
    border: 1px solid #e7e6e6;
    background: #ffffff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 15px;
    margin-left: 146px;
    margin-bottom: 20px;
}

.picture_holder img {
    border: 2px solid #e7e6e6;
    width: 92px; 
    height: 92px;
    /*    margin-bottom: 10px;*/
}

#upload {
    /*    width: 96px;*/
    /*    float: left;*/
}

.upload_loader{
    width: 275px !important;
    height: 20px !important;
    margin-left: 18px;
    margin-top: 64px;
    display: none;
}

.upload_bar_holder{
    width: 275px !important;
    /*    height: 20px !important;*/
    margin-left: 18px;
    margin-top: 64px;
    position: relative;
    /*    display: none;*/
}

.crop_holder{
    background: rgb(252, 252, 252);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 40px;
    overflow: hidden;
}

.crop_btn{
    width: 116px;
    height: 30px;
    background: #0171BC;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

.crop_btn span{
    color: white;
    font-weight: bold;
    line-height: 30px;
}

.crop_cancel_btn{
    width: 116px;
    height: 30px;
    background: rgb(127, 195, 240);
    text-align: center;
    cursor: pointer;
    margin-top: 25px;
}

.crop_cancel_btn span{
    color: white;
    font-weight: bold;
    line-height: 30px;
}

#image_container{
    /*    margin-left: 60px;*/
}

#preview_container{
    width: 92px;
    height: 92px;
    overflow:hidden;
    border: 1px solid rgb(230, 230, 230);
    /*    margin-bottom:5px;*/
}

#preview_border{
    padding: 10px;
    background: rgb(255, 255, 255);
    float: left;
}

#image_border{
    padding: 10px;
    background: rgb(255, 255, 255);
    float: right;
}

#options{
    margin-right: 17px;
    margin-top: 20px;
}

.inner_form_clientes{
    width: 620px;
}

/*--------------------------Usuários------------------------*/

.user_list .user_list_item {
    width: 651px;
    height: 85px;
    background-color: #dddfe0;
    margin-top: 8px;
    margin-bottom: 8px;
    float: left;
}

.user_name_{
    margin-left: 19px;
    margin-top: 18px;
    color: #162433;
    font-size: 18px;
    font-weight: bold;
}

.user_blue_border{
    width: 11px;
    height: 85px;
    background-color: #08a8f0;
    margin-top: 8px;
}

.user_info_holder{
    /*display: none;*/
    width: 100%;
}

.user_info_list{
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 300;
}

.user_info_list ul li{
    /*padding: 4px;*/
    float: left;
    margin-right: 35px;
}

.user_info_list ul li span{
    font-size: 12px;
    margin-left: 10px;
    font-size: 16px;
    color: #868686;
}

.user_functions_holder{
    height: 30px;
    margin-top: -10px;
    margin-right: 23px;
}

.user_functions_holder ul li {
    width: 30px;
    height: 30px;
    background: url(../images/gradient.png);
    border-top: 1px solid #b7b8b8;
    border-bottom: 1px solid #b7b8b8;
    cursor: pointer;
    text-align: center;
}

.user_functions_holder ul li:active{
    background: url(../images/gradientHover.png);
}

.user_functions_holder ul li img {
    margin-top: 7px;
    /*margin-left: 7px;*/
}

.user_functions_holder .active{
    background: url(../images/gradientHover.png);
}

.user_functions_holder .perfil a{
    background: url("../images/perfil.png") no-repeat top;
    display: block;
    width: 100%;
    height: 17px;
    margin-top: 7px;
}

.user_functions_holder .email_bt a{
    background: url("../images/email.png") no-repeat top;
    display: block;
    width: 100%;
    height: 12px;
    margin-top: 10px;
    margin-left: -1px;
}

.user_functions_holder .excluir a{
    background: url("../images/excluir.png") no-repeat top;
    display: block;
    width: 100%;
    height: 100%;
}

.user_functions_holder .editar a{
    background: url("../images/editar.png") no-repeat top;
    display: block;
    width: 100%;
    height: 100%;
}

.user_functions_holder ul li a:focus{
    background-position: bottom;
}

.user_functions_holder ul li a:hover{
    background-position: bottom;
}

.form_error{
    color: red;
    font-size: 14px;
    position: absolute;
    margin-top: -18px;
}

/*--------------------------Progress Bar------------------------*/

/* Webkit animation keyframes */
@-webkit-keyframes animate-stripes {
    to {
    background-position: 0 0;
}

from {
    background-position: 44px 0;
}
}

@-moz-keyframes animate-stripes {
    to {
    background-position: 0 0;
}

from {
    background-position: 36px 0;
}
}

/* Bar which is placed behind the progress */
.ui-progress-bar {
    /* Usual setup stuff */
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 25px;
    width: 100%;
    /* Pad right so we don't cover the borders when fully progressed */
    padding-right: 2px;
    text-align: center;
    /* For browser that don't support gradients, we'll set a blanket background colour */
    background-color: #abb2bc;
    /* Rounds the ends, we specify an excessive amount to make sure they are completely rounded */
    /* Adjust to your liking, and don't forget to adjust to the same amount in .ui-progress */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    /* Background gradient */
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #949daa), color-stop(100%, #abb2bc));
    background: -webkit-linear-gradient(#949daa 0%, #abb2bc 100%);
    background: -moz-linear-gradient(#949daa 0%, #abb2bc 100%);
    background: -o-linear-gradient(#949daa 0%, #abb2bc 100%);
    background: -ms-linear-gradient(#949daa 0%, #abb2bc 100%);
    background: linear-gradient(#949daa 0%, #abb2bc 100%);
    /* Give it the inset look by adding some shadows and highlights */
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px white;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px white;
    -o-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px white;
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px white;
    /* Alt colours */
    /* Progress part of the progress bar */
}
.ui-progress-bar.blue .ui-progress {
    background-color: #339BB9!important;
    border: 1px solid #287a91;
}
.ui-progress-bar.error .ui-progress {
    background-color: #C43C35 !important;
    border: 1px solid #9c302a;
}
.ui-progress-bar.warning .ui-progress {
    background-color: #D9B31A!important;
    border: 1px solid #ab8d15;
}
.ui-progress-bar.success .ui-progress {
    background-color: #57A957!important;
    border: 1px solid #458845;
}
.ui-progress-bar.transition .ui-progress {
    -moz-transition: background-color 0.5s ease-in, border-color 1.5s ease-out, box-shadow 1.5s ease-out;
    -webkit-transition: background-color 0.5s ease-in, border-color 1.5s ease-out, box-shadow 1.5s ease-out;
    -o-transition: background-color 0.5s ease-in, border-color 1.5s ease-out, box-shadow 1.5s ease-out;
    transition: background-color 0.5s ease-in, border-color 1.5s ease-out, box-shadow 1.5s ease-out;
}
.ui-progress-bar .ui-progress {
    /* Usual setup stuff */
    position: absolute;
    display: block;
    overflow: hidden;
    /* Height should be 2px less than .ui-progress-bar so as to not cover borders and give it a look of being inset */
    height: 23px;
    /* Rounds the ends, we specify an excessive amount to make sure they are completely rounded */
    /* Adjust to your liking, and don't forget to adjust to the same amount in .ui-progress-bar */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;

    /* Webkit */
    /* For browser that don't support gradients, we'll set a base background colour */
    background-color: #0170BB;
    /* Webkit background stripes and gradient */
    background: -webkit-gradient(linear, 0 0, 44 44, color-stop(0, rgba(255, 255, 255, 0.17)), color-stop(0.25, rgba(255, 255, 255, 0.17)), color-stop(0.26, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(0.51, rgba(255, 255, 255, 0.17)), color-stop(0.75, rgba(255, 255, 255, 0.17)), color-stop(0.76, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0.35))), #0170BB;
    /* Mozilla (Firefox etc) background stripes */
    /* Note: Mozilla's support for gradients is more true to the original design, allowing gradients at 30 degrees, as apposed to 45 degress in webkit. */
    background: -moz-repeating-linear-gradient(top left -30deg, rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.17) 15px, rgba(255, 255, 255, 0) 15px, rgba(255, 255, 255, 0) 30px), -moz-linear-gradient(rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #0170BB;
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4), inset 0px -1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4), inset 0px -1px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4), inset 0px -1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4), inset 0px -1px 1px rgba(0, 0, 0, 0.2);
    /* Give it a higher contrast outline */
    border: 1px solid #0170BB;
    /* Animate */
    -moz-animation: animate-stripes 2s linear infinite;
    -webkit-animation: animate-stripes 2s linear infinite;
    -o-animation: animate-stripes 2s linear infinite;
    -ms-animation: animate-stripes 2s linear infinite;
    -khtml-animation: animate-stripes 2s linear infinite;
    animation: animate-stripes 2s linear infinite;
    /* Style status label */

    /* Set the background size so the stripes work correctly */
    -webkit-background-size: 44px 44px;
    -moz-background-size: 36px 36px;
}
.ui-progress-bar span.ui-label {
    margin: 0px;
    padding: 0px;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -khtml-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 13px;
    position: relative;
    /*    right: 0;*/
    line-height: 23px;
    /*    padding-right: 12px;*/
    color: rgba(255, 255, 255, 1.0);
    text-shadow: rgba(0, 0, 0, 0.25) 0 1px 0px;
    white-space: nowrap;
    z-index: 100;
    font-weight: bold;
}
.ui-progress-bar .ui-progress span.ui-label b {
    font-weight: bold;
}

.div_input_file input.upload {
    /*    height: 116px;
        width: 96px;*/
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 77px;
    z-index: 2;
    height: 100%;

    opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
    filter: alpha(opacity=0); /* IE lt 8 */
    -ms-filter: "alpha(opacity=0)"; /* IE 8 */
    -khtml-opacity: 0.0; /* Safari 1.x */
    -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
}

/*.div_input_file input#upload:hover{
    background: white;
    opacity: 0.6;  Standard: FF gt 1.5, Opera, Safari 
    filter: alpha(opacity=6);  IE lt 8 
    -ms-filter: "alpha(opacity=6)";  IE 8 
    -khtml-opacity: 0.6;  Safari 1.x 
    -moz-opacity: 0.6;  FF lt 1.5, Netscape 
}*/

.picture_holder .div_input_file{
    overflow: hidden;
    position: relative;
}

.picture_holder .photo_mask{
    display: none;
    width: 92px;
    margin-left: 2px;
    height: 35px;
    background: black;
    opacity: 0.4; /* Standard: FF gt 1.5, Opera, Safari */
    filter: alpha(opacity=4); /* IE lt 8 */
    -ms-filter: "alpha(opacity=4)"; /* IE 8 */
    -khtml-opacity: 0.4; /* Safari 1.x */
    -moz-opacity: 0.4; /* FF lt 1.5, Netscape */
    /*    margin-top: 59px;*/
    position: absolute;
    text-align: center;
    bottom: 2px;
}

/*.picture_holder .photo_mask span{
    line-height: 35px;
    font-size: 20px;
    color: white;
        font-weight: bold;
    letter-spacing: 3px;
}*/

.picture_holder .photo_mask_back{
    display: none;
    width: 92px;
    margin-left: 2px;
    height: 35px;
    background: none;
    /*    opacity: 0.5;  Standard: FF gt 1.5, Opera, Safari 
        filter: alpha(opacity=5);  IE lt 8 
        -ms-filter: "alpha(opacity=5)";  IE 8 
        -khtml-opacity: 0.5;  Safari 1.x 
        -moz-opacity: 0.5;  FF lt 1.5, Netscape */
    /*    margin-top: 59px;*/
    position: absolute;
    text-align: center;
    bottom: 2px;
}

.picture_holder .photo_mask_back span{
    line-height: 35px;
    font-size: 16px;
    color: white;
    letter-spacing: 3px;
}

.loading_circle_holder{
    width: 92px;
    height: 92px;
    position: absolute;
    background: white;
    opacity: 0.7;
    filter: alpha(opacity=7);
    -ms-filter: "alpha(opacity=7)";
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    margin: 2px;
    display: none;
}

.loading_circle_holder img{
    width: auto !important;
    height: auto !important;
    margin-top: 16px;
    margin-left: 16px;
    border: none;
}